* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;   
    font-family: 'Open Sans', sans-serif;
}
h1 {
    margin: -38px 0 10px 50px;
    width: 80%;
    font-size: 1.7rem;
}
h3 {
    margin: 28px 48px 13px;
}
h1, h3 {
    font-family: 'Raleway', sans-serif;    
}
.fa-facebook-f {   
    transform: scale(.6);
  }
  .twitter svg {
    transform: scale(.6);   
  }
header {
    position: relative;
    background-image: url("./images/bg-intro.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
ul {
    display: flex;  
}
li {
    width: 14px;
    list-style: none;
    margin-left: 20px;
}

nav {
    justify-content: space-between;
    display: flex;
    padding: 32px 39px;
}
 .logo{
    /*width: 20%;*/
    width: 75px;
}

path {
    fill: white;
}
.illustrate {
    position: relative;
}
.illustrate img {
    transform: scale(.6);
    display: block;
    margin: auto;
    width: 100%;
    top: -55px;
position: relative;
}
p {
    margin: 0px 31px 0 50px;
    font-size: 0.8rem;
}
.signup {
    width: 90%;
    margin: auto;
}
input[type="email"] {
    width: 280px;
padding: 8px;
border-radius: 5px;
margin: 0 0 0 33px;
}
input[type="submit"] {
    background-color: hsl(163, 95%, 43%);
    width: 119px;
    margin-top: 12px;
    padding: 8px;
    border-radius: 2px;
    color: white;
    border: none;
    margin-left: 33px;
}

.footer {
    margin-top: 33px;
    margin-bottom: 30px;
    margin-right: 15px;
    text-align: right;
}
.footer a {    
        margin-right: 30px; 
        font-size: .7rem;   
}
.wrapper {
    padding-bottom: 10px;
}

@media screen and (min-width:550px) {
    .signup {
        display: flex;
        flex-wrap: nowrap;
    }
    input[type="email"] {
        width: 60%;
        margin-right: 10px;
        padding: 10px;
        border-radius: 5px;
    }
}

@media screen and (min-width: 790px) {
    .wrapper {
        display: flex;
    }
    header {
        width: 47.5%;
    }
    nav {
        position: absolute;
        width: 100%;
        left: 96%;
        margin-top: 30px;
    }
    svg path {
        fill: black;
    }
    main {
        width: 50%;
        padding-top: 145px;
    }
    svg.logo path {
        fill: #11191C;
    }
    h1 {        
        font-size: 2.7rem;
    }
    p {
        font-size: 1.3rem;
    }
}
